.loginDiv{
    margin-top: 1.365853rem;
	box-sizing: border-box;
	padding: 0.512195rem 0.341463rem;
	position: relative;
	input{
		width: 9.365853rem;
		height: 1.07317rem;
		border: 0.02439rem solid rgb(239,239,239);
		border-radius: 0.121951rem;
		box-sizing: border-box;
		padding-left: 0.268292rem;
		font-size: 0.441463rem;
		margin-bottom: 0.390243rem;
	}
    .eye{
        position: absolute;
        left: 7.978048rem;
        top: 2.199024rem;
    }
    
}

.login-layout{
   	background-image: url(/static/views/image/igwbanner.jpg);
   	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    background-position-y: 350px;
   }