<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>      
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/static/views/js/commonCss.js"></script>
    <script type="text/javascript" src="/static/views/js/commonJs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/views/css/common.css">
	<script src="/static/views/js/management/baseInfo.js"></script> 
	<style type="text/css">
	   .bords{
	       margin: 0 25px 0 25px;
	   }
	</style>
</head>
<body>
	<div class="accordion-style1 panel-group main-container" role="tablist" id="baseInfoDiv"
		aria-multiselectable="true" style="margin: 0 20px 0 0px">
		<div class="bords"><h2>系统基础信息管理</h2></div>
		<!-- 用户管理 -->
		<div class="panel panel-default bords">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" @click="makeActive('collapseOne')"
						data-parent="#accordion" href="#collapseOne"> <i
						class="bigger-110 icon-angle-right"
						data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
						用户管理  <font size="1">（新增、删除用户，重置密码）</font>
					</a>
				</h4>
			</div>
			<div class="panel-collapse in" id="collapseOne" style="height: auto;" >
				<div class="panel-body">
					<!-- 用户管理 -->
					<div id="userRoleList" style="width: 600px">
						<div id="msg1"></div>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th style="width: 40%">登录用户名</th>
									<th style="width: 40%">中文名</th>
									<th style="width: 20%"></th>
								</tr>
							</thead>
							<tbody>
							   <tr v-for="item in userList">
									<td>{{item.userName}}</td>
									<td>{{item.accountName}}</td>
									<td>
										<div class="action-buttons"  v-show="item.validFlag=='0'? false:true">
											<a class="green regain-user" href="javascript:void(0)" title="恢复"> <i
												class="icon-undo bigger-130"  @click="regainUser(item)"></i>
											</a>
										</div>
										<div class="action-buttons"  v-show="item.validFlag=='1'? false:true"> 
											<a class="blue reset-password" href="javascript:void(0)" title="重置密码">
											   <i class="icon-repeat bigger-130" @click="resetPassword(item)"></i>
											</a>
											<a class="red delete-user" href="javascript:void(0)" title="删除"> 
											   <i class="icon-trash bigger-130" @click="deleteUser(item)"></i>
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="form-control blurEnter" type="text" id="userId" name="userId" v-model="userId"/></td>
									<td><input class="form-control blurEnter" type="text" id="accountName" name="accountName" v-model="accountName"/></td>
									<td>
										<div class="action-buttons">
											<a class="blue insert-new-user" href="javascript:void(0)" title="添加新用户">
											   <i class="icon-plus bigger-130" @click="insertNewUser"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 角色管理 -->
		<div class="panel panel-default bords">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse"  @click="makeActive('collapseTwo')"
						data-parent="#accordion" href="#collapseTwo"> <i
						class="bigger-110 icon-angle-right"
						data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
						角色管理  <font size="1">（新增、删除角色）</font>
					</a>
				</h4>
			</div>

			<div class="panel-collapse collapse" id="collapseTwo"
				style="height: 0px;">
				<div class="panel-body">
					<!-- 角色管理 -->
					<div id="roleMenuList" style="width: 600px">
						<div id="msg2"></div>
						<table class="table table-striped table-bordered table-hover" id="asdasd">
							<thead>
								<tr>
									<th style="width: 40%">角色名</th>
									<th style="width: 40%">角色ID (唯一标识)</th>
									<th style="width: 20%"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in roleList">
									<td>{{item.roleName}}</td>
									<td>{{item.roleId}}</td>
									<td>
										<div class="action-buttons">
											<a class="red delete-role" href="javascript:void(0)" title="删除"> <i
												class="icon-trash bigger-130" @click="deleteRole(item)"></i>
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="form-control blurEnter" type="text" id="roleName" name="roleName" v-model="roleName"/></td>
									<td><input class="form-control blurEnter" type="text" id="roleId" name="roleId" v-model="roleId"/></td>
									<td>
										<div class="action-buttons">
											<a class="blue insert-new-role" href="javascript:void(0)" title="添加新角色"> <i
												class="icon-plus bigger-130" @click="insertNewRole()"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 菜单管理 -->
		<div class="panel panel-default bords">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" @click="makeActive('collapseThree')"
						data-parent="#accordion" href="#collapseThree"> <i
						class="bigger-110 icon-angle-right"
						data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
						菜单管理  <font size="1">（新增、删除菜单）</font>
					</a>
				</h4>
			</div>

			<div class="panel-collapse collapse" id="collapseThree" 
				style="height: 0px;">
				<div class="panel-body">
					<!-- 菜单管理 -->
					<div id="roleMenuList" style="width: 1000px">
						<div id="msg3"></div>
						<table class="table table-striped table-bordered table-hover" id="asdasd">
							<thead>
								<tr>
									<th style="width: 17%">菜单ID</th>
									<th style="width: 17%">菜单名</th>
									<th style="width: 25%">菜单级别</th>
									<th style="width: 27%">菜单链接</th>
									<th style="width: 17%">上一级菜单ID</th>
									<th style="width: 15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in menuList">
									<td>{{item.menuId}}</td>
									<td>{{item.menuName}}</td>
									<td>{{item.menuLevel}}</td>
									<td>{{item.menuUrl}}</td>
									<td>{{item.menuPre}}</td>
									<td>
										<div class="action-buttons">
											<a class="red delete-menu" href="javascript:void(0)" title="删除"> <i
												class="icon-trash bigger-130" @click="deleteMenu(item)"></i>
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="form-control blurEnter"  type="text" id="menuId" name="menuId" v-model="menuId"/></td>
									<td><input class="form-control blurEnter"  type="text" id="menuName" name="menuName" v-model="menuName"/></td>
									<td>
										<select id="menuLevel" name="menuLevel" v-model="menuLevel">
											<option value="0"></option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</td>
									<td><input class="form-control blurEnter" type="text" id="menuUrl" name="menuUrl" v-model="menuUrl"/></td>
									<td><input class="form-control blurEnter" type="text" id="menuPre" name="menuPre" v-model="menuPre"/></td>
									<td>
										<div class="action-buttons">
											<a class="blue insert-menu" href="javascript:void(0)"> <i
												class="icon-plus bigger-130" @click="insertMenu"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 操作管理 -->
		<div class="panel panel-default bords">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" @click="makeActive('collapseFour')"
						data-parent="#accordion" href="#collapseFour"> <i
						class="bigger-110 icon-angle-right"
						data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
						操作管理  <font size="1">（新增、删除操作）</font>
					</a>
				</h4>
			</div>

			<div class="panel-collapse collapse" id="collapseFour" 
				style="height: 0px;">
				<div class="panel-body">
					<!--操作管理 -->
					<div id="roleMenuList" style="width: 800px">
						<div id="msg4"></div>
						<table class="table table-striped table-bordered table-hover" id="asdasd">
							<thead>
								<tr>
									<th style="width: 17%">操作ID</th>
									<th style="width: 17%">操作名</th>
									<th style="width: 15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in opsList">
									<td>{{item.operateId}}</td>
									<td>{{item.operateName}}</td>
									<td>
										<div class="action-buttons">
											<a class="red delete-op" href="javascript:void(0)" title="删除"> <i
												class="icon-trash bigger-130" @click="deleteOp(item)"></i>
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="form-control blurEnter" type="text" id="operateId" name="operateId"  v-model="operateId"/></td>
									<td><input class="form-control blurEnter" type="text" id="operateName" name="operateName" v-model="operateName"/></td>
									<td>
										<div class="action-buttons">
											<a class="blue insert-op" href="javascript:void(0)"> <i
												class="icon-plus bigger-130" @click="insertOp"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
</body>
</html>